# Edit me in the repo: /theme/static/.htaccess !

AddCharset UTF-8 .html
AddCharset UTF-8 .xml
AddCharset UTF-8 .txt
AddCharset UTF-8 .php

RewriteEngine on

RewriteCond %{HTTP_HOST} ^www\..*$ [NC]
RewriteRule ^(.*)$ http://neo900.org/$1 [R=301,L,END]

RewriteRule ^rss$ /rss.xml [R=301]

RewriteCond %{SCRIPT_FILENAME}/ -d
RewriteCond %{SCRIPT_FILENAME}.html !-f
RewriteRule [^/]$ %{REQUEST_URI}/ [R=301,L]

RewriteCond %{ENV:REDIRECT_STATUS} ^$
RewriteRule ^(.+)\.html$ /$1 [R=301,L]

RewriteCond %{SCRIPT_FILENAME}.html -f
RewriteRule [^/]$ %{REQUEST_URI}.html [QSA,L]

# event redirects
RewriteRule ^ohsw2013/?$ https://www.youtube.com/watch?v=VWPmXxq1MdQ&list=PL-s0IumBit8PHXpXs7Tp22ymANXSwDrkT [R=307,L]
RewriteRule ^ohsw2013/slides/?$ http://www.openphoenux.org/ohsw2013/ [R=307,L]
RewriteRule ^piwo(/(.*))?$ http://neo900.org/stuff/piwo/$2 [R=307,L]
RewriteRule ^ohsw2014/?$ https://www.youtube.com/watch?v=ahPFCFooBv0&list=PL-s0IumBit8Mofxj0Fn2kH6RB9VtnKS4K [R=307,L]

# pre-pelican redirects
RewriteRule ^news-0001-fundraising-campain-has-started http://neo900.org/news/neo900-fundraising-campaign-has-started [R=307,L]
RewriteRule ^news-0002-fundraiser-past-the-phrase-ii-5-000-to-go http://neo900.org/news/neo900-fundraiser-past-the-phase-ii-5-000-eur-to-go [R=307,L]
RewriteRule ^news-0003-we-ve-reached-our-goal http://neo900.org/news/weve-reached-our-goal [R=307,L]
RewriteRule ^news-0004-progress-update http://neo900.org/news/neo900-progress-update-november [R=307,L]
RewriteRule ^news-0005-phase-i-results-ohsw-showcase http://neo900.org/news/phase-i-results-ohsw-showcase [R=307,L]
RewriteRule ^news-0006-progress-update http://neo900.org/news/neo900-progress-update-december [R=307,L]
RewriteRule ^news-0007-happy-holidays http://neo900.org/news/happy-holidays [R=307,L]
RewriteRule ^news-0008-progress-update-january http://neo900.org/news/neo900-progress-update-january [R=307,L]
RewriteRule ^news-0009-progress-update-march http://neo900.org/news/neo900-progress-update-march [R=307,L]
RewriteRule ^news-0010-progress-update-april http://neo900.org/news/neo900-progress-update-april [R=307,L]
RewriteRule ^news-0011-progress-update-may http://neo900.org/news/neo900-progress-update-may [R=307,L]

ExpiresActive On
ExpiresDefault A604800
ExpiresByType text/html A300
ExpiresByType application/html+xml A300
ExpiresByType application/rss+xml A600
ExpiresByType image/jpeg A6048000
ExpiresByType image/png A6048000
ExpiresByType text/css A6048000

ErrorDocument 404 /404
