{% extends "base.html" %}
{% block title %}{{ article.title|striptags }}{% endblock %}
{% block content %}

    <div class="stripe">
        <div>

            <h2 class="news-title">{{ article.title}}</h2>
            <p class="text-muted news-date">{{ article.locale_date }}, {{article.author}}</p>

            {{ article.content }}

            {% if article.hackernews or article.reddit or article.slashdot %}
            <div class="followups">
                <span>Follow-up the discussion on:</span>
                {% if article.hackernews %}
                <img src="https://news.ycombinator.com/favicon.ico" width="16" height="16" /> <a href="{{article.hackernews}}" target="_blank">Hacker News</a>
                {% endif %}
                {% if article.reddit %}
                <img src="http://www.reddit.com/favicon.ico" width="16" height="16" /> <a href="{{article.reddit}}" 
                target="_blank">Reddit</a>
                {% endif %}
                {% if article.slashdot %}
                <img src="http://slashdot.org/favicon.ico" width="16" height="16" /> <a href="{{article.slashdot}}" 
                target="_blank">Slashdot</a>
                {% endif %}
            </div>
            {% endif %}

            {% if article.next_article_in_category %}
            <p style="float: right"><a href="/{{article.next_article_in_category.url}}">{{article.next_article_in_category.title}} &raquo;</a></p>
            {% endif %}
            {% if article.prev_article_in_category %}
            <p><a href="/{{article.prev_article_in_category.url}}">&laquo; {{article.prev_article_in_category.title}}</a></p>
            {% endif %}

            <hr />

            <a style="float: right; margin: 3px 35px" href="http://neo900.org/" class="btn btn-default">Learn more</a>

            <p class="text-muted">
                <a href="http://neo900.org/">The <span class="neo900">Neo900</span> project</a> aims to provide a successor of Nokia N900 Internet Tablet&trade; device, with faster CPU, more RAM and LTE modem, basing efforts on an already existing, mature and stable free platform - the <a href="http://gta04.org/">OpenPhoenux GTA04</a>, following the spirit of freedom known from <a href="http://openmoko.org/">Openmoko</a> devices.
            </p>

        </div>
    </div>

{% endblock %}
