{% extends "base.html" %}
{% block body_params%}data-spy="scroll" data-target="#topmenu" data-offset="70"{% endblock %}
{% block content_title %}{% endblock %}
{% block content %}
    
    <div class="stripe" style="background-color: rgba(0,0,0,0.01); box-shadow: 0px 0px 5px rgba(0,0,0,0.1); padding:0 ">
    <div class="row center jumbotron" style="padding: 0.5em">
    The device is currently <strong>in development</strong>.</span>
    </div>
    </div>
    
    <div class="jumbotron stripe" style="padding-top: 25px" id="news">
    
        <style>
            .main-page-hidden { display: none; }
        </style>

        <div class="row" style="padding:0">
            <div class="col-md-6" style="border-right: 1px solid #eee">
            {% for category in categories if category[0] == 'news' %}
                <div>
                    <div style="float: right;">
                        <a href="/feeds/news.atom.xml" target="_blank"><img src="/static/rss.png" style="vertical-align: bottom"/></a><br/>
                        <a href="/subscribe" class="btn-subscribe" data-toggle="modal"><img src="/static/mail.png" style="vertical-align: text-top"/></a>
                    </div>
                    <h1 style="display: inline-block; color: #555">News</h1>
                    <div style="display: inline-block; padding-left:15px">
                        <h4 style="font-weight: bold"><a href="{{ SITEURL }}/{{ category[1][0].url }}">{{ category[1][0].title }}</a></h4>
                        <p class="text-muted" style="font-size: 0.75em">{{ category[1][0].locale_date }}</p>
                    </div>
                    <div style="height: 450px; max-height: 400px; overflow: hidden; position: relative">
                        <p class="lead" style="margin: 1em 0 0.5em">
                            Have you checked out <a href="http://ohsw.org/" target="_blank">OpenPhoenux Hard &amp; Software Workshop</a> that took place in Munich, Germany on <strong>November 29-30</strong>?</p>
<p style="margin: 1.5em 0">  We have presented the talk titled <em>"Crafting The Private Phone"</em> about challenges of creating a trustable mobile device and details on our modem monitoring solution.</p>

<p style="margin-bottom: 1.5em">Recordings from the event are available on <a href="https://www.youtube.com/channel/UCP_U91ipVWsF_2EiG3s6BKA" target="_blank">OHSW YouTube channel</a>.
                        </p>
                    </div>

                </div>
            </div>
            
            <div class="col-md-3 col-sm-6" style="border-right: 1px solid #eee">

                <h1 style="color: #555">Archive</h1>
            
                <div>
                    <div class="bs-sidebar" style="font-size: 0.7em">
                        <ul class="nav nav-list bs-sidenav" style="padding: 0px 10px 0 0; max-height: 400px; overflow-y: auto">
                        {% for post in category[1] %}
                            <li>
                                    <h4 style="font-weight: bold"><a href="{{ SITEURL }}/{{ post.url }}">{{ post.title.replace("Neo900 Progress Update","Progress Update") }}</a></h4>
                                <div class="text-muted" style="text-align: right; font-size: 0.8em; border-bottom: 1px solid #eee; margin-bottom: 5px">
                                    {{ post.date }}
                                </div>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            
            {% endfor %}
            <div class="col-md-3 col-sm-6">
                <div style="float: right;">
                    <a href="/feeds/news.atom.xml" target="_blank"><img src="/static/rss.png" style="vertical-align: bottom"/></a><br/>
                    <a href="http://twitter.com/neo900ug" target="_blank"><img src="/static/twitter.png" style="vertical-align: text-top"/></a>
                </div>
                <h1 style="color: #555">µBlog</h1>
                
                <div>
                    
                    {% for category in categories if category[0] == 'ublog' %}
                    <div class="bs-sidebar" style="font-size: 0.7em">
                    <ul class="nav nav-list bs-sidenav" style="padding: 10px 10px 0 0; max-height: 400px; overflow-y: auto">
                    {% for post in category[1] %}
                    <li>
                    <div class="content" style="line-height: 1.5em; word-wrap:break-word">
                    {{ post.content }}
                    </div>
                    <div class="text-muted" style="text-align: right; font-size: 0.8em; border-bottom: 1px solid #eee; margin-bottom: 5px">
                    <strong>{{ post.author }}</strong>, {{ post.date }}
                    </div>
                    </li>
                    {% endfor %}
                    </ul>
                    </div>
                    {% endfor %}
                
            </div>
        </div>
    </div>
        </div>

        
        
        <div class="jumbotron stripe" id="about" >
        <div>
        <h2 class="h1">The device you've been waiting for</h2>
        
        
        <div class="row featurette">
        <div class="col-md-8" style="margin-top: 8%">
        
        
        <p>Are you tired of all those closed mobile platforms? Do you want to truly own a device that has the ability to do whatever you want, just like your PC?</p>
        
        
        <p>
        The <strong class="neo900">Neo900</strong> project aims to provide a Fremantle (<a href="http://maemo.org/intro/">Maemo&trade; 5</a>) compatible successor to the N900, with a <strong>faster CPU</strong>, <strong>more RAM</strong> and an <strong>LTE modem</strong>. This is all based on a free, mature and stable platform - the <a href="http://gta04.org"><strong>GTA04</strong></a>.
                
        <p>We'll provide complete, <strong><a href="faq#complete">ready-to-use devices</a></strong>, as well as <strong>motherboard replacements</strong> for your current devices.</p>
                
                
        <p>Most importantly, the <span class="neo900">Neo900</span> is an <strong>open platform</strong>, carrying on in the tradition  of the <a href="http://openmoko.org/">Openmoko</a> project.
        <span class="neo900">Neo900</span> will support all operating systems available for GTA04 (<a href="http://qtmoko.sourceforge.net/">QtMoko</a>, <a href="http://shr-project.org/">SHR</a>, <a href="http://debian.org/">Debian</a>, <a href="http://replicant.us/">Replicant</a>, ...) and should serve as a great platform for porting systems like <a href="http://talk.maemo.org/showthread.php?t=91308">Maemo</a>, Ubuntu or Firefox OS - or even for writing your own one! We <strong>bring the hardware</strong>, you <strong>choose your OS</strong>.</p>
                
        
        <a href="http://talk.maemo.org/showthread.php?t=91142" class="btn btn-default">See the forum thread &raquo;</a>
        </div>
        <div class="col-md-4">
        <a href="http://openphoenux.org/"><img src="http://static.neo900.org/openphoenux.png" width="100%" style="display: block" /></a>
        <div style="text-align: center">
          <a target="_blank" href="https://www.youtube.com/watch?v=EJHMXQ3nSt0" style="position: relative; display:inline-block; width: 50%; margin-top: 30px;">
          <img src="https://i1.ytimg.com/vi/EJHMXQ3nSt0/hqdefault.jpg" width="100%" />
          <img src="http://static.neo900.org/youtube.png" style="position: absolute; top:50%; left:50%; margin-left:-60px; margin-top:-45px;" />
          </a>
        </div>
        <p style="font-size:0.8em; margin-top: 10px; text-align:center">See the video presenting our idea</p>
        </div>
        </div>
        </div>
        </div>
        
        <div class="stripe jumbotron pcb"  data-stellar-background-ratio="0.25" id="features">
        <a target="_blank"  class="credit" href="https://secure.flickr.com/photos/amagill/2877921712/" data-toggle="popover" data-trigger="hover" data-placement="left" data-content='"JTAG board 1" licensed on CC-BY 2.0'>by Andrew Magill</a>
        <div class="container">
<h2 class="h1">Why is it so unique?</h2>
        <div class="row ">

        <div class="col-md-5">
        <img src="http://static.neo900.org/neo900-avatar.jpg" style="box-shadow: 2px 2px 2px rgba(0,0,0,0.3)" class="featurette-image img-responsive" alt="Neo900">
        </div>
        <div class="col-md-7" style="margin-top: -0.5em">
        <p class="lead">
        
        As a member of the <a href="http://openphoenux.org">OpenPhoenux</a> family, we're committed to provide <strong>the best hacking experience</strong> possible.
        Even if we have no idea how to make use of some feature, <strong>you</strong> might have one and we won't stop you from <strong>implementing it</strong>.</p>
        <p>Our dream is to get <strong>all your crazy needs</strong> covered. You can expect <strong>free, unlocked bootloader</strong>, combined <strong>GPS and GLONASS</strong> navigation system, stereo <strong>line-in</strong> and additional <strong>connection pads</strong> for your own or third party hardware - and those are just the biggest things that we plan to include.</p>
        </p>
        
        <p>We're going to publish <strong>full documentation and schematics</strong> for the device. Although it's not a high-end device with the fastest available components, we believe that thanks to provided freedom, <strong>no planned obsolescence</strong> and ability to easily port new operating systems <span class="neo900">Neo900</span> is going to serve us and our users for a really long time.</p>
        </div></div>
        </div>
        </div>

    
    
    
    <div class="jumbotron stripe n900side" id="features2">
    <!-- Example row of columns -->
    <div class="container">
    <p class="center" style="margin-bottom: 20px; text-shadow: 1px 1px 0px rgba(255,255,255,0.5), 0px 0px 10px white, 0px 0px 25px white, 0px 0px 50px white;"><span class="neo900">Neo900</span> will preserve <strong>all the features</strong> of N900... but there's more!</p>
    
    <div class="row">
    <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
    <h3>LTE</h3>
    <p>Optional LTE support allows to reach <strong>amazing connection speeds</strong> - up to 100 Mbps for download and 50 Mbps for upload. Never wait too long for downloading new software packages!</p>
    </div>
    </div>
    <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
    <h3>USB OTG</h3>
    <p>Use your Neo900 as <strong>a pocket computer</strong> and easily attach any additional peripherals via proper Micro USB On-The-Go port. Want to use laser keyboard? External hard disk? Gamepad? No problem!</p>
    </div>
    </div>
    <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
    <h3>Battery hot-swap</h3>
    <p>For all fast handed hackers over there that can replace the battery in just few seconds, we're going to support switching it <strong>on the fly</strong>, without turning off the phone!</p>
    </div>
    </div>
    </div>
    <div class="row">
    <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
    <h3>Stereo line-in</h3>
    <p>Put a small recording studio into your pocket! Together with standard mini-jack audio functions, we're including stereo line-in support. Make a <strong>high quality</strong> music demo straight on your phone!</p>
    </div>
    </div>
    <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
    <h3>IrDA and Consumer IR</h3>
    <p>Use your phone as a <strong>universal TV remote</strong> or... connect the serial console via IrDA link. Low level debugging couldn't be made easier.</p>
    </div>
    </div>
    <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
    <h3>Lots of sensors</h3>
    <p>Accelerometer, ambient light and proximity sensors, compass, gyroscope, barometer, thermometer, RFID... All ready for <strong>any extraordinary usage</strong> you can come up with.</p>
    </div>
    </div>
    </div>
    <div class="row">
    
    <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
    <h3>GPS and GLONASS</h3>
    <p>Enjoy <strong>increased accuracy</strong> and faster fix times thanks to concurrent support of two navigation standards - American GPS and Russian GLONASS.</p>
    </div>
    </div>
    
    <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
    <h3>Prototyping support</h3>
    <p>We're hardware and software hackers ourselves and we want to make life of other hackers easier. Make use of <strong>additional contact pads</strong> and sockets we'll put there just for you to experiment with.</p>
    </div>
    </div>
    <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
    <h3>FLOSS stack and privacy</h3>
    <p>Neo900 can be used with <a href="faq#floss">100% Free Software stack</a>. <strong>Forget about spying</strong> and influences of intelligence agencies. If you turn off GSM modem from the software, you can be sure it's really turned off.</p>
    </div>
    </div>
    </div>
    <p class="center" style="margin-top: 20px; text-shadow: 1px 1px 0px rgba(255,255,255,0.5), 0px 0px 15px white;">See the full <a href="specs">specification draft</a> for more details</p>
    </div>
    </div>

    <div class="jumbotron stripe sunrise" id="donate" data-stellar-background-ratio="0.5">
    <a target="_blank"  class="credit" href="https://secure.flickr.com/photos/ptrktn/4233596678/" data-toggle="popover" data-trigger="hover" data-placement="left" data-content='"The First Sunrise of 2010" licensed on CC-BY 2.0'>by ptrktn</a>
    <div class="container">
<h2 class="h1">Donating</h2>
<p class="center" style="margin: 40px 0 10px"><strong>Current state:</strong> 380 donations received <span style="font-size: 0.75em">(November 22, 2014)</span></p>
<p class="center">Please <a href="subscribe" style="color: white; text-decoration: underline" class="btn-subscribe" data-toggle="modal">subscribe to our newsletter</a> to stay informed!</p>

<!--<p class="center" style="margin-top: 2em">We need to reach at least 200 devices to build.<br/>Want to help?</p>-->

<p class="center" style="margin-top: 40px"><a class="btn btn-lg btn-primary" href="/donate">Donate</a></p>


<p class="center" style="font-size:0.75em; margin-top: 2em"><a href="/donate-gdc" style="color: white; text-decoration: underline">Donated previously but haven't transfered yet?</a></p>

</div>
</div>
    
<div class="jumbotron stripe">
<div>
<a href="http://talk.maemo.org/showthread.php?t=93375" target="_blank"><img src="/static/plan.png" style="width:100%" /></a>
</div>
</div>

      <!-- /END THE FEATURETTES -->


    </div> <!-- /container -->

{% endblock content %}
